@import 'colors';

.logo {
  width: 30%;
  padding-bottom: 15%;
}

.login {
  @include position(fixed);

  top: 0;
  left: 0;

  text-align: center;

  height: 100vh;
  width: 100vw;

  z-index: 100;

  background-color: #73DCB2;
}

.login-form {
  margin-top: 15%;
}


.container input{
  background-color: white;
  border: solid 2px #626262;
  border-radius: 10%;
}

.container label{
  color: white;
}

.login-button {
  margin-top: 1em;
  padding: 0.5em 1em;
  background-color: white;
  border: solid 2px #626262;
  border-radius: 10%;
}
