//lower right corner, rectangular, newest on the bottom//

.notifications-container {
  position: fixed;

  bottom: 0;
  right: 0;

  height: 100vh;
  width: 10vw;

  min-width: 250px;
}

.notifications-container .notifications {
  // ul
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;

}

.notifications li {
  margin: 2.5px;
}

.notifications li .notifications {
  padding: 10px 25px;
}

.notifications li .notifications.connect {
  background: rgb(62, 245, 152);
}

.notifications li .notifications.disconnect {
  background: rgba(230, 15, 169, 0.6);
}

.notifications li .notifications.info {
  background: rgb(100, 33, 242);
}
